<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:manageSpaceActivity=".ManageDataActivity">

        <activity android:name=".AssetsCheckActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="true"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:screenOrientation="sensorLandscape"
            android:immersive="true"
            android:windowSoftInputMode="stateHidden|adjustNothing">
        </activity>

        <!-- FIX: Added exported=true and the intent-filter so Android recognizes
             this as a valid manageSpaceActivity and enables the button in App Info -->
        <activity android:name=".ManageDataActivity"
            android:exported="true"
            android:label="Manage Data">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_PACKAGE_STORAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".io.FolderProvider"
            android:authorities="@string/storageProviderAuthorities"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>
